@use '../base/main' as base;
@use '../abstracts/main' as abstracts;


.settings-screen {
    @include abstracts.flexContent($display:flex, $justify:center, $align:center, $direction:row);
    width: 100vw;
    height: 100vh;

    .left-split {
        @include abstracts.flexContent($display:flex, $justify:center, $align:center, $direction:column);
        width: 50%;
        height: 100%;
            
        h1 {
            font-family: base.$font-red-rose;
            font-weight: base.$font-weight-bold;
            font-size: 54px;
            margin-left: 30px
        }

    }

    .right-split {
        @include abstracts.flexContent($display:flex, $justify:center, $align:center, $direction:column);
        width: 50%;
        height: 100%;
    }
}