@use "sass:map";

@use "variables" as variables;

@mixin flexContent(
  $display: flex,
  $justify: center,
  $align: center,
  $direction: row
) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin respond-below($breakpoint) {
  @if not map.has-key(variables.$breakpoints, $breakpoint) {
    @error "Unknown breakpoint `#{$breakpoint}`.";
  }

  @media (max-width: map.get(variables.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin respond-above($breakpoint) {
  @if not map.has-key(variables.$breakpoints, $breakpoint) {
    @error "Unknown breakpoint `#{$breakpoint}`.";
  }

  @media (min-width: map.get(variables.$breakpoints, $breakpoint)) {
    @content;
  }
}
