*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.show {
  display: flex;
}

.hide {
  display: none !important;
}

fieldset {
  border: none;
}
